<!-- templates/list.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>내 손으로 만든 게시판</title>
    <style>
      table {
        width: 80%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>게시판 목록</h1>
    <a href="/board/write">새 글 작성하기</a>
    <hr />
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.post_num }}</td>
          <!-- 클릭하면 /post/게시물번호 로 이동하는 링크 생성 -->
          <td><a href="/board/post/{{ post.post_num }}">{{ post.title }}</a></td>
          <td>{{ post.author }}</td>
          <td>{{ post.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
